<div class="loginsection">
    <form>
      <h1> {{title}} </h1>
      <input id="email" type="email" placeholder="email">
      <input id="password" type="password" placeholder="password">
      <button id="submit"> 
        Login
      </button>
    </form>
  </div>